@media only screen and (max-width:768px){
    body{
        background-color: white;
    }

    p{
        font-size: 30px;
        color: black;
        text-align: left;
    }
}

@media only screen and (max-width:425px){
    body{
        background-color: tomato;
    }

    p{
        text-align: right;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        color: chartreuse;
    }
}

@media only screen and (max-width:320px){
    body{
        background-color: black;
    }

    p{
        text-align: center;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        color: chartreuse;
    }
}